# --- Folders to Ignore ---
data/
images/
**.vscode/

# --- Python & Conda Specific Ignores ---
slac-project/
__pycache__/
*.pyc

# --- macOS Specific Ignores ---
.DS_Store

quench_data_L1.h5

*.h5
combind_h5_L1.h5
